@use "global" as *;

.contact-form {
    margin-top: rem(85);

    @include mq("md") {
        margin-top: rem(113);
    }
}

.contact-form--is-active {
    margin-top: rem(27);

    @include mq("md") {
        margin-top: rem(59);
    }
}
