@use "global" as *;

.blog-detail {
    color: $white;
}

.blog-detail__inner.inner {
    padding-left: 0;
    padding-right: 0;
}

.blog-detail__title {
    font-size: rem(20);
    font-weight: $regular;
    letter-spacing: 0.02em;
    padding-left: 20px;
    padding-right: 20px;

    @include mq("md") {
        padding-left: 0;
        padding-right: 0;
        font-size: rem(23);
    }
}

.blog-detail__information {
    display: flex;
    margin-top: rem(16);
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    @include mq("md") {
        padding-left: 0;
        padding-right: 0;
        margin-top: rem(32);
    }
}

.blog-detail__date {
    letter-spacing: 0.025em;
}

.blog-detail__category {
    border: rem(1) solid $white;
    letter-spacing: 0.125em;
    margin-left: rem(25);
    padding: rem(7) rem(21);
}

.blog-detail img:first-of-type {
    margin-top: rem(16);
    aspect-ratio: 375 / 251;

    @include mq("md") {
        margin-top: rem(32);
        aspect-ratio: 800 / 427;
    }
}

.blog-detail__text {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2.1875;
    letter-spacing: 0.025em;
    margin-top: rem(23);

    @include mq("md") {
        padding-left: 0;
        padding-right: 0;
        margin-top: rem(32);
    }
}

.blog-detail__headline {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: rem(25);
    font-size: rem(20);
    font-weight: $regular;
    letter-spacing: 0.1em;

    @include mq("md") {
        padding-left: 0;
        padding-right: 0;
        margin-top: rem(32);
    }
}

.blog-detail__headline span {
    border-left: rem(3) solid $white;
    padding-left: rem(6);
}

.blog-detail__headline-second {
    margin-top: rem(24);
    font-size: rem(18);
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    letter-spacing: 0.1em;

    @include mq("md") {
        padding-left: 0;
        padding-right: 0;
        margin-top: rem(32);
    }
}

.blog-detail__headline-second::before {
    position: absolute;
    display: block;
    content: "";
    width: rem(73);
    height: rem(3);
    background-color: $yellow2;
    top: rem(26);
}

.blog-detail__headline-second::after {
    position: absolute;
    display: block;
    content: "";
    width: rem(144);
    height: rem(3);
    background-color: $white;
    top: rem(26);
    left: rem(93);

    @include mq("md") {
        left: rem(63);
    }
}

.blog-detail img:nth-of-type(2) {
    margin-top: rem(24);
    aspect-ratio: 375 / 251;

    @include mq("md") {
        margin-top: rem(32);
        aspect-ratio: 800 / 427;
    }
}

.blog-detail__items {
    margin-top: rem(24);
    padding-left: 20px;
    padding-right: 20px;
    line-height: calc(35 / 16);
    letter-spacing: 0.025em;

    @include mq("md") {
        padding-left: 0;
        padding-right: 0;
        margin-top: rem(32);
    }
}

.blog-detail__links {
    margin-top: rem(80);
    padding-left: 20px;
    padding-right: 20px;

    @include mq("md"){
       margin-top: rem(104);
    }
}