@use "global" as *;

.bread-crumb{
    color: $white;
}

.bread-crumb__items{
    display: flex;
}

.bread-crumb__item{
    letter-spacing: 0.0625em;
}

.bread-crumb__item:not(:first-child){
    margin-left: min(rem(5), 1.2vw);
}