@use "global" as *;

.header{
    height: rem(50);
    width: 100%;
    background: rgba(17, 17, 17, 0.5);
    position: fixed;
    top: 0;
    z-index: 5;
}

.header--works-details{
    background: #111;
}

.header__inner {
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: rem(20);
    padding-right: rem(20);

    @include mq("md") {
        padding-left: 32px;
        padding-right: 0;
    }
}

.header__title {
    width: rem(71);
    height: rem(23);
    position: relative;
    z-index: 6;

    @include mq("md") {
        width: rem(95);
        height: rem(36);
    }
}

.header__img{
    width: inherit;
    height:inherit
}

.header__nav {
    display: none;
    height: inherit;

    @include mq("md") {
        display: block;
    }
}

.header__items {
    display: flex;
    height: inherit;
}

.header__item {
    height: inherit;
}

.header__item:nth-child(6){
    margin-left: rem(15);
}

.header__item:nth-child(6) a{
    background: $white;
    color: $black2;
    padding-left: rem(31);
    padding-right: rem(31);
    transition: background-color 0.3s, color 0.3s;
}

.header__item:nth-child(6) a:hover{
    background: $black2;
    color: $white;
}

.header__item a{
    font-size: rem(16);
    line-height: calc(35 / 16);
    letter-spacing: 0.125em;
    color: $white;
    height: inherit;
    display: inline-block;
    display: flex;
    align-items: center;
    padding:0 rem(15);
}

.header__item span{
    border-bottom: rem(1) solid transparent;
    transition: border-bottom 0.3s ease;
}

.header__item span:hover{
    border-bottom: rem(1) solid $yellow2;
}

.header__link_button {
    background: $white;
    color: $black2;
    padding-left: rem(31);
    padding-right: rem(31);
    transition: background-color 0.3s, color 0.3s;
}