@use "global" as *;

.mv__inner {
  height: 100vh;
  overflow: hidden;
}

.mv__bg-wrapper {
  height: 100%;
  position: relative;
}

.mv__bg-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.2);
  z-index: 0;
}

.mv__bg {
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit: cover;
  animation: mv-bg-zoom 6s linear infinite;
  display: none;
}

.mv__bg.is-active {
  display: block;
}

@keyframes mv-bg-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.mv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: $white;
}

.mv__title--sub-page {
  font-size: rem(30);
  letter-spacing: 0.066em;

  @include mq("md") {
    font-size: rem(35);
  }
}

.mv__main-title {
  font-size: rem(28);
  font-weight: $bold;
  letter-spacing: 0.01em;
  line-height: 1;
  display: block;

  @include mq("md") {
    font-size: rem(50);
  }
}

.mv__sub-title {
  font-size: rem(20);
  font-weight: $bold;
  letter-spacing: 0.025em;
  margin-top: rem(24);
  line-height: 1;
  display: block;

  @include mq("md") {
    font-size: rem(25);
  }
}