@use "global" as *;

.tab{
    color: $white;
    letter-spacing: 0.125em;
}

.tab__item{
    letter-spacing: 0.125em;
    display: inline-block;
    margin-top: rem(17);
    margin-right: rem(17);

    @include mq("md"){
       margin-right: rem(33);
    }
}

.tab__item:first-child{
    padding:rem(3) rem(7);

    @include mq("md"){
       padding-left: rem(10);
       padding-right: rem(10);
    }
}

.tab__item.is-active{
    background:$white;
    color:$black2 ;
}