@use "global" as *;

.thanks-content{
    text-align: center;
}

.thanks-content__message{
    font-size: rem(20);
    color: $white;
    letter-spacing: 0.1em;

    @include mq("md"){
       font-size: rem(30);
       letter-spacing: 0.07em;
       line-height: 1.16;
    }
}

.thanks-content__message:nth-of-type(2){
    margin-top: rem(80);
}

.thanks-content__br{
    @include mq("md"){
       display:none;
    }
}

.thanks-content__btn-wrapper{
    margin-top: rem(78);
}