@use "global" as *;

.work {
    position: relative;
}

.work__title {
    font-size: rem(20);
    color: $white;
    letter-spacing: 0.1em;
    font-weight: $medium;
    text-align: center;
    margin-top: rem(27);

    @include mq("md") {
        margin-top: rem(14);
    }
}

.work__category {
    background: $black;
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    padding: rem(8) rem(19);
    letter-spacing: 0.125em;
}