@use "global" as *;

.article__title {
    border: rem(1) solid $white;
    color: $white;
    font-weight: $regular;
    font-size: rem(16);
    letter-spacing: 0.125em;
    text-align: center;
    padding-top: rem(7);
    padding-bottom: rem(7);
}

.article__card-wrapper {
    margin-top: rem(34);

    @include mq("md"){
       margin-top: rem(80);
    }
}

.article__card-wrapper.card-wrapper {
    @include mq("md") {
        grid-template-columns: repeat(4, 1fr);
    }
}