@use "global" as *;

.blog__inner.inner {
    max-width: rem(640);

    @include mq("md") {
        max-width: rem(1164);
    }
}

.blog__card-wrapper {
    margin-top: rem(112);

    @include mq("md") {
        margin-top: rem(93);
    }
}

.blog__btn-wrapper {
    margin-top: rem(24);
    text-align: center;

    @include mq("md") {
        margin-top: rem(48);
    }
}
