@use "global" as *;

.contact {
    background: $black4;
    padding-top: rem(17);
    padding-bottom: rem(60);

    @include mq("md"){
        padding-top: rem(53);
        padding-bottom: rem(143);
    }
}

.contact__inner.inner{
    max-width: rem(640);

    @include mq("md") {
        max-width: rem(1164);
    }
}

.contact__text {
    color: $white;
    font-size: rem(16);
    letter-spacing: 0.125em;
    margin-top: rem(67);

    @include mq("md") {
        text-align: center;
        margin-top: rem(108);
    }
}

.contact__btn-wrapper {
    display: block;
    margin-top: rem(45);
    text-align: center;

    @include mq("md") {
        margin-top: rem(60);
        max-width: rem(360);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
}

.contact__button::before {
    @include mq("md") {
        font-size: rem(20);
    }
}
