@use "global" as *;

.error-content {
    text-align: center;
}

.error-content__error-message {
    font-size: rem(40);
    color: $yellow2;
    opacity: 0.2;
    letter-spacing: 0.05em;

    @include mq("md") {
        font-size: rem(60);
        letter-spacing: 0.03em;
    }
}

.error-content__message {
    font-size: rem(20);
    color: $white;
    letter-spacing: 0.1em;
    margin-top: rem(66.5);

    @include mq("md") {
        font-size: rem(30);
        letter-spacing: 0.05em;
        line-height: 1.16;
    }
}

.error-content__br {
    @include mq("md") {
        display: none;
    }
}

.error-content__btn-wrapper {
    margin-top: rem(78);
}