@use "global" as *;

.links{
    color: $white;
    text-align: center;
}

.links__item{
    border:rem(1) solid $white;
    display: inline-block;
    letter-spacing: 0.125em;
    max-width:rem(71);
    width:100%;
}

.links__item:not(:first-child){
    margin-left: rem(44.5);
}

.links__item a{
    width:100%;
    display: block;
}
