@use "global" as *;

.section-title {
    text-align: center;
    position: relative;
}

.section-title__english {
    font-size: rem(50);
    color: $yellow;
    letter-spacing: 0.04em;
    font-family: 'Noto Serif JP', serif;
    font-weight: $regular;
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;

    @include mq("md") {
        font-size: rem(110);
        letter-spacing: 0.018em;
        left:auto;
    }
}

.section-title__english--left {
    @include mq("md") {
        right: auto;
    }
}

.section-title__japanese {
    font-size: rem(20);
    color: $white;
    letter-spacing: 0.1em;
    font-weight: $regular;
    position: relative;
    width: 100%;
    top: rem(49);

    @include mq("md") {
        font-size: rem(30);
        letter-spacing: 0.01em;
        top:rem(44);
    }
}

.section-title__japanese--contact {
    @include mq("md") {
        top: rem(91);
    }
}

.section-title__japanese--information {
    @include mq("md") {
        top: rem(52);
    }
}

.section-title__japanese--blog {
    @include mq("md") {
        top: rem(58);
    }
}