@use "global" as *;

.works-details {
    color: $white;
}

.works-details__inner {
    margin-top: rem(54);

    @include mq("md") {
        margin-top: rem(91);
    }
}

.works-details__inner.inner {
    max-width: rem(862);
}

.works-details__title {
    font-size: rem(20);
    font-weight: $regular;
    letter-spacing: 0.02em;

    @include mq("md") {
        font-size: rem(23);
    }
}

.works-details__information {
    margin-top: rem(21);

    @include mq("md") {
        margin-top: rem(35);
    }
}

.works-details__date {
    font-size: rem(16);
    line-height: 2.02;
    letter-spacing: 0.025em;
}

.works-details__category {
    font-size: rem(16);
    letter-spacing: 0.125em;
    margin-left: rem(27);
    border: rem(1) solid $white;
    padding: rem(8) rem(21.5);
}

// swiper
.works-details__swiper-container {
    @include mq("md") {
        max-width: rem(864);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: rem(36);
        padding-left: 32px;
        padding-right: 32px;
    }
}

.works-details__main-swiper {
    width: 100%;
    height: auto;
    margin-top: rem(21);
    overflow: hidden;
    position: relative;
}

.works-details__swiper-slide {
    width: auto;
    height: rem(400);
}

.works-details__swiper-slide img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    aspect-ratio: 375 / 251;

    @include mq("md") {
        aspect-ratio: 800 / 427;
    }
}

.works-details__swiper-button-prev {
    width: 8% !important;
    top: 52.5% !important;
    left: 2.2% !important;
    z-index: 4 !important;

    @include mq("md") {
        height: rem(50) !important;
        max-width: rem(50) !important;
        top: 49% !important;
        left: 1% !important;
    }
}

.works-details__swiper-button-prev::after {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 100%;
    margin: auto;
    width: 100%;
    background-image: url(../imgs/common/swiper-prev.png);
}

.works-details__swiper-button-next {
    width: 8% !important;
    top: 52.5% !important;
    right: 2.2% !important;
    z-index: 4 !important;

    @include mq("md") {
        height: rem(50) !important;
        max-width: rem(50) !important;
        top: 49% !important;
        right: 1% !important;
    }
}

.works-details__swiper-button-next::after {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 100%;
    margin: auto;
    width: 100%;
    background-image: url(../imgs/common/swiper-next.png);
}

.works-details__sub-swiper {
    margin-top: rem(32);
    width: 100%;
    padding: 0;
    overflow: hidden;

    @include mq("md") {
        margin-top: rem(41);
    }
}

